.container {
  display: flex;
  flex-flow: row;
  max-width: 465px;

  .shape {
    margin-right: 1.5rem;
    flex: unset;
    align-self: stretch;
  }

  .text {
    text-align: left;
    align-items: flex-start;

    h3 {
      margin-bottom: 0.25rem;
    }
  }
}
