.container {
  padding: 100px 5%;
  row-gap: 85px;
  margin-inline: auto;

  h2 {
    max-width: 650px;
    margin-bottom: 0.25em;
    text-align: left;
    place-self: flex-start;
  }

  .sub {
    align-self: flex-start;
    text-align: left;
  }
  
  @media (min-width: 1024px) {
    .sub,
    h2 {
      align-self: inherit;
      text-align: inherit;
    }
  }
}
