.container {
  padding: 100px 5%;
  display: flex;
  flex-flow: row wrap;
  margin-inline: auto;
  gap: 5rem;

  > div {
    row-gap: 3rem;
  }

  .content,
  .text {
    max-width: 560px;
    align-items: flex-start;
  }

  .blocks {
    row-gap: 3rem;
    align-items: stretch;
  }

  h2,
  p {
    text-align: left;
  }

  div {
    flex: 1;
  }

  h2 {
    max-width: 650px;
    margin-bottom: 0.5em;
  }
}
