.vector1 {
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: 768px) {
    right: 0;
    top: 65px;
  }
}

.vector2 {
  position: absolute;
  right: 0;
  top: 148px;

  @media (min-width: 768px) {
    right: 0;
    top: 213px;
  }
}

.vector3 {
  position: absolute;
  left: 49px;
  top: 0;
  z-index: -2;

  @media (min-width: 768px) {
    left: 126px;
    top: 137px;
  }
}

.vector4 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;

  @media (min-width: 768px) {
    left: 76px;
    top: 137px;
  }
}

.vector5 {
  position: absolute;
  left: -100px;
  bottom: 15px;
  z-index: -1;

  @media (min-width: 768px) {
    left: -100px;
    top: 388px;
  }
}
