.container {
  padding: 100px 5%;
  display: flex;
  flex-flow: row-reverse wrap;
  margin-inline: auto;
  gap: 5rem;

  > div {
    row-gap: 3rem;
  }

  div {
    flex: 1;
  }

  h2,
  p {
    text-align: left;
  }
  
  
  h2 {
    max-width: 650px;
    margin-bottom: 0.5em;
  }
}

@media (min-width: 768) {
  .content {
    min-width: 486px;
  }
}

.blocks {
  row-gap: 3rem;
  align-items: stretch;
}

.content,
.text {
  max-width: 560px;
  align-items: flex-start;
}