.container {
  width: 100%;
  background-color: #fbfbfb;
  justify-content: space-between;
  filter: drop-shadow(1rem 1rem 1.5rem rgba(177, 186, 201, 0.25));

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
  }
}

.content {
  display: flex;
  flex-flow: row wrap;
  max-width: 1440px;

  .text {
    text-align: left;
    align-items: flex-start;
    padding: 72px 5%;
    flex: 1 0;
    gap: 3rem;

    h1 {
      position: relative;
      max-width: 10em;
    }

    p {
      max-width: 30rem;
    }

    button {
      place-self: center;
    }

    @media (min-width: 1024px) {
      h1 {
        max-width: unset;
      }
    }

    @media (min-width: 768px) {
      padding: 72px 9%;

      h1:before {
        content: url("/left-alt.png");
        position: absolute;
        z-index: -1;
        top: -30px;
        left: -30px;
      }

      button {
        place-self: unset;
      }
    }
  }

  .image {
    position: relative;
    overflow-y: clip;
  }
}
